/*
project author: Hamit Mızrak
project year:2022
project name: One Page 
project verion: v.1 #8C6544
*/
/*start code*/

/*common property*/
:root {
    --primary-color: #007bff !important;
    --secondary-color: #90bcea !important;
    --dark-color: #36393b !important;
    --light-color: #edf8ff !important;

    --max-width: 100% !important;
    --navbar-icon-color: #f6e317;
    --background-color: #f8f9f9 !important;

    --main-color-odd:#f8f9f9;
    --main-color-even: #292b2f;

    --footer-bg-color: #3d3d3d !important;
    --footer-text-color: #ffffff !important;
   
    --copy-right-color: #1a1919;
    
}

/* common config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html*/
html {
    font-size: 20px;
}

/*body*/
body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* img */
img {
    max-width: 100%;
    height: auto;
    transition: 2s all;
}

img:hover {
    opacity: 0.9;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .8);
}

p {
    text-align: justify;
    margin: 1rem 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

/* ############################################################## */
/*line clamp*/
.line-clamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ############################################################## */
/* NAVBAR */
#navbar_id {
    opacity: .8;
}

#collapsibleNavId i {
    margin-right: .4rem;
    color: var(--navbar-icon-color)
}

#navbar_expend {
    /* margin-left: 3rem!important; */
}

#logo_id {
    max-width: 4rem;
    border-radius: 50% 50%;
}

/* ############################################################## */

/* dark light  */
.dark-mode {
    background-color: black;
    color: white;
}

#dark_light_mode i {
    color: black
}

#darkLightId {
    background: #1a1919;

}


/* ############################################################## */
/* HEADER */
header {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 95vh;
    padding-top: 15rem;
}

header h1,
h4 {
    margin-bottom: 2rem;
}


/* ############################################################## */
/* MAIN */

/* counter */
#counterId{
    background-color: var(--main-color-odd);
    margin-top:5rem;
    padding-top:5rem;
}

#counterId .counter-header,p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#counterId .row span{
    font-size: 3.5rem;
}

/*Work */
#worksId{
    margin-top:5rem;
    padding-top:8rem;
    padding-bottom:8rem;
margin-bottom:5rem;
    background-color: var(--main-color-even);
}

/*aboutme */
.parallax_data{
    background-image: url('images/desk-g051a3dc11_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
    background-color: transparent;
    background-attachment: fixed;
    padding:4rem;
}

#worksId p{
    font-size: 1rem;
    text-align: justify;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 200;
    line-height: 1.4;
}

#worksId h4,
p {
    color: white;
}

/* ############################################################## */

#back_top i{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    color: #9c01fc;
    font-size: 1.4rem;
    padding: .5rem 1rem;
}

#back_top:hover {
    opacity: .8;
    box-shadow: 1px 1px 3px 1px rgba(162, 231, 43, 0.6);
    transition: 3s all;
}

/* ############################################################## */
/* FOOTER */
footer {
    min-height: 20rem;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}

#copy_right {
    background-color: var(--copy-right-color);
}


/* ############################################################## */
/*end codes*/