/*
author: Hamit Mızrak
date: 31 Temmuz 2022 
*/


#paragraf_id {
    /*
    bilgisayarda RGB:Red Green Blue
    00:Siyah   ff:beyaz
    */
    /* background-color */
    background-color: red;
    background-color: #523;
    /*RGB */
    background-color: #123456;
    /*RGB ancak daha hassas*/
    background-color: rgb(0, 100, 255);
    /* 0<=X<=255*/
    background-color: rgba(0, 100, 255, 0.8);
    /*0<=a<=1 0<=X<=255*/
    background-color: rgba(0, 100, 255, .8);
    /*0<=a<=1 0<=X<=255*/

    /*color */
    color: white;

    /*
    margin:dış boşluk
    Saat dönme yönünde devame eder.
    */
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 15.5px;

    /* kısaltılmış hali*/
    margin: 10px 15px 25px 15.5px;

    /*yukardan-sağdan-aşağıdan-soldan 10 px*/
     margin:10px;

    /*
    15px: yukarıdan-aşağıdan 
    12px:sağdan-solda */
    margin:15px 12px; 


        /*
    padding:iç boşluk
    Saat dönme yönünde devame eder.
    */
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15.5px;

    /* kısaltılmış hali*/
    padding: 10px 15px 25px 15.5px;

    /*yukardan-sağdan-aşağıdan-soldan 10 px*/
    padding:10px;

    /*
    15px: yukarıdan-aşağıdan 
    12px:sağdan-solda */
    padding:15px 12px; 


    /* border: çerceve */ 
     border-width: 1px;
     border-style: dotted;
     border-color: orange;

     /*3 özelliği tek satırda göstermek*/
     border:1px solid orange;

     /*border-radius:AÇI*/
     /* border-radius: 50%; */
     border-top-left-radius: 50%;
     border-top-right-radius: 50%;
     border-bottom-right-radius:50%;
     border-bottom-left-radius:50%;
     
     /*4 özelliği tek satırda göstermek*/
     border-radius:.8%;

     /*font*/
     font-size: 22px;
     font-size:x-large;
     font-weight: 100;
     font-style:italic;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

     /* text:metin*/
     text-align: left;
     text-align: right;
     text-align:center;
     text-align:justify;

     text-transform: lowercase;
     text-transform: uppercase;
     text-transform: capitalize;

     text-decoration: line-through;
     text-decoration: underline;
     text-decoration: overline;
     text-decoration: none;

     text-indent: 10px;
     word-spacing: 5px;
     letter-spacing: 1px;
     line-height: 30px;

     /* 
     1px: X düzlenminde +1px: Sağa doğru -1px:Sola doğru
     8px: Y  düzlenminde +8px: Aşağı doğru -8px:Yukarı doğru
     */
     text-shadow: 1px -8px rgba(255,255,255,.5);

}

#specialLetter{
    text-transform: uppercase;
}