/*
author: Hamit Mızrak
date: 31 Temmuz 2022 
*/


#paragraf_id {
    /*
    bilgisayarda RGB:Red Green Blue
    00:Siyah   ff:beyaz
    */
    /* background-color */
    background-color: red;
    background-color: #523;
    /*RGB */
    background-color: #123456;
    /*RGB ancak daha hassas*/
    background-color: rgb(0, 100, 255);
    /* 0<=X<=255*/
    background-color: rgba(0, 100, 255, 0.8);
    /*0<=a<=1 0<=X<=255*/
    background-color: rgba(0, 100, 255, .8);
    /*0<=a<=1 0<=X<=255*/

    /*color */
    color: white;

    /*
    margin:dış boşluk
    Saat dönme yönünde devame eder.
    */
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 15.5px;

    /* kısaltılmış hali*/
    margin: 10px 15px 25px 15.5px;

    /*yukardan-sağdan-aşağıdan-soldan 10 px*/
     margin:10px;

    /*
    15px: yukarıdan-aşağıdan 
    12px:sağdan-solda */
    margin:15px 12px; 


        /*
    padding:iç boşluk
    Saat dönme yönünde devame eder.
    */
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15.5px;

    /* kısaltılmış hali*/
    padding: 10px 15px 25px 15.5px;

    /*yukardan-sağdan-aşağıdan-soldan 10 px*/
    padding:10px;

    /*
    15px: yukarıdan-aşağıdan 
    12px:sağdan-solda */
    padding:15px 12px; 


    /* border: çerceve */ 
     border-width: 1px;
     border-style: dotted;
     border-color: orange;

     /*3 özelliği tek satırda göstermek*/
     border:1px solid orange;

     /*border-radius:AÇI*/
     /* border-radius: 50%; */
     border-top-left-radius: 50%;
     border-top-right-radius: 50%;
     border-bottom-right-radius:50%;
     border-bottom-left-radius:50%;
     
     /*4 özelliği tek satırda göstermek*/
     border-radius:.8%;

     /*font*/
     font-size: 22px;
     font-size:x-large;
     font-weight: 100;
     font-style:italic;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

     /* text:metin*/
     text-align: left;
     text-align: right;
     text-align:center;
     text-align:justify;

     text-transform: lowercase;
     text-transform: uppercase;
     text-transform: capitalize;

     text-decoration: line-through;
     text-decoration: underline;
     text-decoration: overline;
     text-decoration: none;

     text-indent: 10px;
     word-spacing: 5px;
     letter-spacing: 1px;
     line-height: 30px;

     /* 
     1px: X düzlenminde +1px: Sağa doğru -1px:Sola doğru
     8px: Y  düzlenminde +8px: Aşağı doğru -8px:Yukarı doğru
     */
     text-shadow: 1px 1px rgba(255,255,255,.5);

     /*
     -webkit:safari,opera,chrome
     -moz: mozilla
     */
     column-count: 2;
     -webkit-column-count:2;
     -moz-column-count:2;

     column-rule:2px solid red;
     -webkit-column-rule:2px solid red;
     -moz-column-rule:2px solid red;
}

.click_css{
    /*display: aynı satırda veya alt satırda göstermek için kullanırız.*/
    display: inline; /*satır width-height çalışmayacak*/
    display: block; /*alt satır*/
    display: inline-block; /*width-height kullanmak istiyorsak*/
    display:none;

    visibility: hidden;
    visibility: none;
}

#specialLetter{
    text-transform: uppercase;
}

.div_class{
    background-color: red;
    color:blue;

    display: inline-block;

    width: 25%;
    min-width:150px; /*min:150px ve yukarısı*/
    max-width:150px; /* max:150px en fazla 150px kadar olabilir. */

    height:150px;
    min-height:150px; /*min:150px ve yukarısı*/
    max-height:150px; /* max:150px en fazla 150px kadar olabilir. */

    float:right;
    margin-left:1%;
}

.clearfix_data:before{
    content: "";
    clear: both;
    display: block;
}
a {
    text-decoration: none;
    background-color: chocolate;
    color: aliceblue;
    padding: 2px 4px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 1%;
}

a:hover {
    background-color: black;
    color: white;
}

a:visited{
    background-color: blue;
    color: yellow;
}

